<%- include('./partials/header') %>

<div class="container">
  <h1>O naszym klubie</h1>
  <p>Odrzański Feeder to klub wędkarski założony w 2008 roku, który łączy pasjonatów wędkarstwa feederowego z różnych zakątków Polski.
    Nasza misja to nie tylko organizowanie zawodów, ale także promowanie odpowiedzialnego wędkarstwa oraz ochrony środowiska wodnego.
    Klub opiera swoją działalność na trzech filarach: edukacji, integracji i rywalizacji. Organizujemy regularne spotkania, warsztaty oraz wydarzenia,
    które mają na celu rozwijanie umiejętności wędkarskich naszych członków, a także podnoszenie świadomości na temat ochrony ryb i ekosystemów wodnych.
    W ramach Odrzańskiego Feederu organizujemy lokalne zawody, które gromadzą zarówno doświadczonych wędkarzy, jak i osoby dopiero rozpoczynające
    swoją przygodę z wędkarstwem. Nasza klubowa społeczność jest znana z otwartości i wzajemnego wsparcia, a także z chęci dzielenia się wiedzą i
    doświadczeniem. Wspólnie dbamy o rozwój wędkarstwa feederowego w regionie oraz promujemy wartości takie jak szacunek do przyrody i fair play.
    Dołączając do Odrzańskiego Feederu, stajesz się częścią wyjątkowej rodziny wędkarzy, którzy łączą pasję z przyjemnością spędzania czasu nad wodą.
    Nasz klub to nie tylko zawody – to również miejsce, w którym zawierają się przyjaźnie na całe życie.</p>
  <img src="/images/hero_2.jpg" alt="">
</div>

<%- include('./partials/footer') %>