<%- include('./partials/header') %>

<div class="container simple-page">
  <h1 class="title">O naszym klubie</h1>
  <p>Klub <b>"Odrzański Feeder"</b> powstał w 2022 roku z pasji do nowoczesnego wędkarstwa gruntowego, w szególności
    technik: <b>feeder klasyczny</b> oraz <b>method feeder</b>. Skupiamy się nie tylko na rozwijaniu
    umiejętności wędkarskich, ale także na promowaniu podejścia "catch and release". Wierzymy, że sportowe podejście do wędkarstwa to przyszłość,
    dlatego zachęcamy do szanowania naszych pięknych łowisk i dbania o ich ekosystem.
  </p>
  <p>
    Naszym celem jest stworzenie przestrzeni do zdrowej rywalizacji i koleżeńskich spotkań nad wodą.
    Organizujemy dodatkowe zawody, poza terminarzem koła Odra nr 63, gdzie najlepsi zawodnicy zostają
    uhonorowani nagrodami. Wspólnie spędzony czas na zawodach to nie tylko emocje i sportowa walka,
    ale także okazja do integracji i wymiany doświadczeń w świetnej atmosferze.
  </p>
  <p>Do zobaczenia nad wodą!</p>
  <img id="about-photo" src="/media/us3.jpg" alt="">
</div>

<%- include('./partials/footer') %>