<%- include("./partials/header.ejs")%>

<div class="container">
  <h1>Articles page</h1>
  <div id="articles-container">Aktualności:</div>
  <div id="pagination-container"></div>
</div>

<script src="/components/article.js"></script>
<script src="/pagination.js"></script>
<link rel="stylesheet" href="/styles/pagination.css" />
<script>
  function renderSinglePage(selectedArticles) {
    $("#articles-container").empty();
    selectedArticles.forEach(element => {
      const article = new Article(element);
      $("#articles-container").append(article.getCard());
    });
  }

  $('#pagination-container').pagination({
    pageSize: 4,
    className: 'paginationjs-big',
    showGoInput: true,
    showGoButton: true,
    locator: "articles",
    dataSource: "/data/articles",
    totalNumberLocator: function(response) {
      return response.totalArticles;
    },
    callback: function(data, pagination) {
      renderSinglePage(data);
    }
  });
</script>


<%- include("./partials/footer.ejs")%>