<%- include('./partials/header') %>

<div class="container">
  <h1>Kontakt</h1>
  <ul>
    <h2>Klub "Odrzaśnki Feeder"</h2>
    <li>Prezes Klubu - Dawid B, tel. 666 777 999</li>
    <li>Skarbnik - Mirosław K, tel. 111 222 333</li>
  </ul>

  <ul>
    <h2>Administrator strony</h2>
    <li>e-mail: info-odrzanski-feeder@todo</li>
    <li>Damian Junkiewicz: damian.junkiewicz@odrzanski-feeder.pl</li>
  </ul>
</div>

<%- include('./partials/footer') %>