<%- include('./partials/header') %>

<div class="container simple-page">
  <h1 class="title">Kontakt</h1>
  <ul>
    <h2>Klub "Odrzański Feeder"</h2>
    <li>Prezes Klubu - Dawid B, tel. 504 636 977</li>
  </ul>

  <ul>
    <h2>Administrator strony</h2>
    <li>e-mail: junkiewicz.damian@gmail.com</li>
  </ul>
</div>

<%- include('./partials/footer') %>