<%- include('./partials/header') %>

<div class="container">
  <h1>Polityka prywatności</h1>
  <h2>Czym są pliki cookies?</h2>
  <p>Pliki cookies to małe pliki tekstowe, które są przechowywane na Twoim urządzeniu (komputerze, smartfonie lub innym urządzeniu)
    podczas przeglądania naszej strony internetowej. Służą one do przechowywania informacji, które mogą być użyteczne przy kolejnych
    wizytach na stronie.</p>
  <hr>

  <h2>Rodzaje wykorzystywanych plików cookies</h2>
  <p>Na naszej stronie internetowej stosujemy wyłącznie niezbędne pliki cookies, które są wymagane do prawidłowego funkcjonowania strony.
    Te pliki cookies nie zbierają żadnych informacji umożliwiających identyfikację użytkownika. Obejmują one:</p>
  <ul>
    <li><strong>Pliki cookies sesyjne</strong>: Służą do zapewnienia prawidłowego działania strony podczas jej przeglądania.
      Znikają po zamknięciu przeglądarki.</li>
    <li><strong>Pliki cookies trwałe</strong>: Umożliwiają zapamiętanie Twoich ustawień i preferencji na stronie między sesjami,
      co poprawia komfort użytkowania strony.</li>
  </ul>
  <hr>

  <h2>Zgoda na używanie plików cookies</h2>
  <p>Korzystając z naszej strony internetowej, wyrażasz zgodę na używanie przez nas plików cookies niezbędnych do jej prawidłowego działania.
    Pliki cookies mogą być ustawione przez naszą stronę, a także przez osoby trzecie, takie jak dostawcy usług analitycznych czy reklamowych.</p>
  <hr>

  <h2>Zarządzanie plikami cookies</h2>
  <p>Masz pełną kontrolę nad plikami cookies. Możesz w każdej chwili zarządzać ustawieniami cookies w swojej przeglądarce internetowej.
    W zależności od używanej przeglądarki możesz zablokować lub usunąć pliki cookies. Warto jednak pamiętać,
    że wyłączenie niektórych plików cookies może wpłynąć na funkcjonalność strony.</p>
  <hr>

  <h2>Jak zmienić ustawienia cookies?</h2>
  <p>Aby zarządzać plikami cookies, wystarczy zmienić ustawienia w swojej przeglądarce. Możesz również skorzystać z opcji dostępnych w
    ustawieniach swojej przeglądarki, aby usunąć już zapisane pliki cookies.</p>
  <p><strong>Przykłady:</strong></p>
  <ul>
    <li><strong>Google Chrome</strong>: Menu &gt; Ustawienia &gt; Prywatność i bezpieczeństwo &gt; Pliki cookies.</li>
    <li><strong>Mozilla Firefox</strong>: Menu &gt; Ustawienia &gt; Prywatność i bezpieczeństwo &gt; Pliki cookies i dane stron.</li>
    <li><strong>Safari</strong>: Preferencje &gt; Prywatność &gt; Zarządzaj danymi.</li>
  </ul>
  <hr>

  <h2>Zmiany w Polityce Prywatności</h2>
  <p>Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności. W przypadku wprowadzenia istotnych zmian,
    odpowiednia informacja zostanie opublikowana na tej stronie.</p>
  <hr>

  <h2>Kontakt</h2>
  <p>Jeśli masz jakiekolwiek pytania dotyczące naszej polityki cookies, skontaktuj się z nami pod adresem:
    <a href="mailto:info-odrzanski-feeder@todo.pl">info-odrzanski-feeder@todo.pl</a>.
  </p>
  <hr>
</div>

<%- include('./partials/footer') %>