<%- include('./partials/header') %>

<div class="container">
  <h1>Zapisy na zawody klubowe "Odrzański Feeder"</h1>
  <p>Na zawody mozna zapisac się poprzez SMS, lub drogą mailową. W obu przypadkach nalezy umieścić w treści następujące
    informacje: <b>imię, nazwisko, termin i rodzaj zawodów</b></p>
  <ul>
    <li>SMS: <b>666 777 888</b> - kol. Dawid B</li>
    <li>e-mail: <b>odrzanski-feeder@TODO.todo</b></li>
  </ul>
</div>

<%- include('./partials/footer') %>