<%- include('./partials/header') %>

<div class="container simple-page">
  <h1 class="title">Zapisy na zawody klubowe "Odrzański Feeder"</h1>
  <p style="float: left; margin-right: 10px;">
    <img src="/media/map.PNG" alt="mapa siedziby koła">
  </p>
  <p>W zawodach klubowych mogą brać udział jedynie członkowie koła <b>"Odra" nr 63</b>. Kasa koła
    znajduje się w Domu Wędkarza z siedzibą na ulicy <b>Kazimierza Wielkiego 65</b>.
  </p>
  <p>Na zawody można zapisać się poprzez SMS, w którym należy umieścić następujące
    informacje: <b>imię, nazwisko, termin i rodzaj zawodów</b>.</p>
  <ul>
    <li>SMS: <b>504 636 977</b> - kol. Dawid B</li>
  </ul>
</div>

<%- include('./partials/footer') %>