<%- include('./partials/header') %>

<div class="container simple-page">
  <h1 class="title">Regulamin zawodów feederowych</h1>
  <p>Podczas wszystkich zawodów gruntowych obowiązuje regulamin ustanowiony przez <b>Polski Związek Wędkarski</b>.
    Link do pobrania regulaminu w wersji PDF można znaleźć na dole strony.</p>
  <ul id="rules-list"><b><span id="rules-title">Lista przypominająca najważniejsze punkty regulaminu:</span></b>
    <li>Na zawodach należy obowiązkowo używać sitaki o długości minimum 3,5m i średnicy 40cm lub przekątnej 50cm w przypadku siatek prostokątnych.</li>
    <li>Sygnalizatorem brań może być jedynie szczytówka, zabrania sie używania innych form sygnalizacji brań (w porze nocnej można używać "świetlików").</li>
    <li>Zabrania się używania rurek antysplątaniowych.</li>
    <li>Maksymalne wymiary koszyka zanętowego - szerokość: 7cm, średnica: 5cm.</li>
    <li>Maksymalna długość wędki - 4,5m.</li>
    <li>W czasie zawodów dozwolone jest stosowanie przynęt oraz zanęt roślinnych i zwierzęcych.</li>
    <li>Przynęty i zanęty mogą być dowolnie barwione lub nasycane substancjami zapachowymi.</li>
    <li>Zabrania się używania przynęt sztucznych, kulek proteinowych, styropianów i innych sztucznych przynęt lub wabików, ikry, żywych lub martwych ryb (także, jako dodatków do zanęty), doczepiania jakichkolwiek sztucznych materiałów do stosowanego zestawu i dodatkowego obciążenia.</li>
  </ul>
  <!-- <a href="https://www.flaticon.com/free-icons/pdf" title="pdf icons">Pdf icons created by Dimitry Miroliubov - Flaticon</a> -->
  <div id="regulations-attachment">
    <a href="/others/regulamin_zawodow.pdf">Regulamin zawodów feederowych PZW
      <img src="/media/pdf.png" style="height: 45px;">
    </a>
  </div>



</div>

<%- include('./partials/footer') %>