<%- include('./partials/header') %>

<div class="container">
  <h1>Regulamin zawodów feederowych</h1>
  <p>Podczas wszystkich zawodów gruntowych obowiązuje regulamin ustanowiony przez Polski Związek Wędkarski.
    Link do pobrania regulaminu w wersji PDF można znaleźć na dole strony.</p>
  <ul>Lista przypominająca najważniejsze punkty regulaminu
    <li>Na zawodach nalezy obowiązkowo uzywac sitaki o długości minimum 3,5m i średnicy 40cm lub przekątnej 50cm w przypadku siatek prostokątnych.</li>
    <li>Sygnalizatorem brań może byc jedynie szczytówka, zabrania sie uzywania innych form sygnalizacji brań (w porze nocnej można uzywac "świetlików").</li>
    <li>Zabrania się używania rurel antysplątaniowych</li>
    <li>Maksymalne wymiary koszyka zanętowego - szerokość: 7cm, średnica: 5cm</li>
    <li>Maksymalna długość wędki - 4,5m</li>
  </ul>
  <!-- <a href="https://www.flaticon.com/free-icons/pdf" title="pdf icons">Pdf icons created by Dimitry Miroliubov - Flaticon</a> -->
  <a href="/others/regulamin_zawodow.pdf">Regulamin zawodów feederowych PZW
    <img src="/media/pdf.png" style="height: 45px;">
  </a>


</div>

<%- include('./partials/footer') %>