<%- include("./partials/header.ejs")%>

<div id="schedule-container" class="container">
  <h1>Terminarz zawodów</h1>
  <div id="competitions-container">
    <form action="/schedule/find" method="POST" class="" novalidate="">
      <div id="finding-options" class="row g-3">

        <div id="year-select" class="col-md-3 select">
          <label for="year" class="form-label">Sezon</label>
          <select class="form-select" id="year" name="year" required="">
            <% for( let year = new Date().getFullYear(); year >= 2023; year-- ) { %>
            <option <% if (locals.criteria && locals.criteria.year === `${year}`) { %> selected <% } %>><%= year %></option>
            <% } %>
            <option <% if (locals.criteria && locals.criteria.year === 'Wszystko') { %> selected <% } %>>Wszystko</option>
          </select>
          <div class="invalid-feedback">
            Wybierz sezon
          </div>
        </div>

        <div class="col-md-3 select">
          <label class="form-label">Dyscyplina</label>
          <div class="form-check">
            <input class="form-check-input form-check-custom" type="checkbox" id="disciplineFeeder" name="disciplineFeeder" <% if (locals.criteria && locals.criteria.disciplineFeeder) { %> checked <% } %>>
            <label class="form-check-label" for="disciplineFeeder">
              Feeder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disciplineFloat" name="disciplineFloat" <% if (locals.criteria && locals.criteria.disciplineFloat) { %> checked <% } %>>
            <label class="form-check-label" for="disciplineFloat">
              Spławik
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disciplineSpinning" name="disciplineSpinning" <% if (locals.criteria && locals.criteria.disciplineSpinning) { %> checked <% } %>>
            <label class="form-check-label" for="disciplineSpinning">
              Spinning
            </label>
          </div>
        </div>

        <div class="col-md-3 select">
          <label class="form-label">Kategoria</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="category1" name="category1" <% if (locals.criteria && locals.criteria.category1) { %> checked <% } %>>
            <label class="form-check-label" for="category1">
              Kołowe
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="category2" name="category2" <% if (locals.criteria && locals.criteria.category2) { %> checked <% } %>>
            <label class="form-check-label" for="category2">
              Okręgowe
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="category3" name="category3" <% if (locals.criteria && locals.criteria.category3) { %> checked <% } %>>
            <label class="form-check-label" for="category3">
              Klubowe - "Odrzański Feeder"
            </label>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <button id="search-button" class="w-100 btn btn-success btn-lg" type="submit">SZUKAJ</button>
    </form>
  </div>
  <% if(!locals.competitions) { %>
  <p>Brak dostępnego harmonogramu zawodów</p>
  <% } %>
</div>

<script src="/components/schedule-table.js"></script>
<script>
  const competitionsList = <%- competitions%>;
  const scheduleTable = new ScheduleTable(
    ["Nazwa", "Dyscyplina", "Miejsce", "Kategoria", "Termin", "Godzina zbiórki", "Uwagi"],
    competitionsList, {
      indexColumn: true,
      tableClassList: ["table", "table-bordered", "table-hover", "text-center", "align-middle"],
      tableHeadClassList: ["align-middle", "table-success"],
      tableBodyClassList: ["competitions-table-body"]
    });
  $("#competitions-container").append(scheduleTable.getTable());
</script>

<%- include("./partials/footer.ejs")%>