<%- include("./partials/header.ejs")%>

<div class="container">
  <h1>Schedule page</h1>
  <% if(locals.competitions) { %>
  <div id="competitions-container">Aktualności:</div>
  <% } else { %>
  <p>No articles available</p>
  <% }; %>
</div>

<script>
  const competitionsList = <%- competitions%>;
  const table = document.createElement("ul");
  competitionsList.forEach(item => {
    const tableRow = document.createElement("li");
    tableRow.textContent = JSON.stringify(item);
    console.log(item);
    table.appendChild(tableRow);
  })
  $("#competitions-container").append(table);
</script>

<%- include("./partials/footer.ejs")%>