<%- include("./partials/header.ejs")%>

<div class="container">
  <h1>Schedule page</h1>
  <% if(locals.competitions) { %>
  <div id="competitions-container">
    <form class="" novalidate="">
      <div class="row g-3">

        <div class="col-md-4">
          <label for="country" class="form-label">Sezon</label>
          <select class="form-select" id="country" required="">
            <option value="">Wybierz...</option>
            <option>2024</option>
            <option>2023</option>
            <option>Wszystko</option>
          </select>
          <div class="invalid-feedback">
            Wybierz sezon
          </div>
        </div>

        <div class="col-md-4">
          <label class="form-label">Dyscyplina</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check1" checked>
            <label class="form-check-label" for="check1">
              Feeder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check2" checked>
            <label class="form-check-label" for="check2">
              Spławik
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check3" checked>
            <label class="form-check-label" for="check3">
              Spinning
            </label>
          </div>
        </div>

        <div class="col-md-4">
          <label class="form-label">Kategoria</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check1" checked>
            <label class="form-check-label" for="check1">
              Kołowe
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check2">
            <label class="form-check-label" for="check2">
              Okręgowe
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check3" checked>
            <label class="form-check-label" for="check3">
              Klubowe - "Odrzański Feeder"
            </label>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">SZUKAJ</button>
    </form>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">lp.</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Dyscyplina</th>
          <th scope="col">Miejsce</th>
          <th scope="col">Kategoria</th>
          <th scope="col">Termin</th>
          <th scope="col">Godzina zbiórki</th>
          <th scope="col">Uwagi</th>
        </tr>
      </thead>
      <tbody id="competitions-table-body">
      </tbody>
    </table>
  </div>
  <% } else { %>
  <p>Brak dostępnego harmonogramu zawodów</p>
  <% }; %>
</div>

<script>
  const competitionsList = <%- competitions%>;
  const table = document.createElement("ul");
  competitionsList.forEach((item, index) => {
    const tempItem = document.createElement("tr");
    const part1 = document.createElement("th");
    part1.setAttribute("scope", "row");
    part1.textContent = index;
    const part2 = document.createElement("td");
    part2.textContent = item.name;
    const part3 = document.createElement("td");
    part3.textContent = "dyscyplina - TODO";
    const part4 = document.createElement("td");
    part4.textContent = item.location_name;
    const part5 = document.createElement("td");
    part5.textContent = item.scope;
    const part6 = document.createElement("td");
    part6.textContent = item.event_date;
    const part7 = document.createElement("td");
    part7.textContent = item.event_time;
    const part8 = document.createElement("td");
    part8.textContent = item.notes;
    tempItem.appendChild(part1);
    tempItem.appendChild(part2);
    tempItem.appendChild(part3);
    tempItem.appendChild(part4);
    tempItem.appendChild(part5);
    tempItem.appendChild(part6);
    tempItem.appendChild(part7);
    tempItem.appendChild(part8);
    $("#competitions-table-body").append(tempItem);
  })
</script>

<%- include("./partials/footer.ejs")%>