<%- include('./partials/cmsHeader') %>
<div class="container">
  <h1>Poniżej możesz dodać nowy artykuł lub edytować juz istniejące.</h1>
  <a class="btn btn-primary" href="/cms/articles?action=new" role="button">Dodaj nowy</a>
  <a class="btn btn-primary" href="/cms/articles?action=edit" role="button">Edytuj istniejący</a>
  <% if (locals.action === "edit") { %>
  <h2>Edytowanie istniejącego artykułu</h2>
  <% } else { %>
  <h2>Dodawanie nowego artykułu</h2>
  <% } %>
</div>
<%- include('./partials/cmsFooter') %>