<%- include('./partials/cmsHeader') %>
<div class="container">
  <h1>Poniżej możesz dodać nowy artykuł lub edytować juz istniejące.</h1>
  <a class="btn btn-primary" href="/cms/articles" role="button">Dodaj nowy</a>
  <a class="btn btn-primary" href="/cms/articles" role="button">Edytuj istniejący</a>
</div>
<%- include('./partials/cmsFooter') %>