<%- include('./partials/cmsHeader') %>
<div class="container">
  <h1>Poniżej możesz dodać lub edytować wydarzenia</h1>
  <a class="btn btn-primary" href="/cms/competitions?action=new" role="button">Dodaj nowe wydarzenie</a>
  <a class="btn btn-primary" href="/cms/competitions?action=edit" role="button">Edytuj istniejące</a>
  <% if (locals.action === "edit") { %>
  <%- include('./partials/editExistingArticle') %>
  <% } else { %>
  <%- include('./partials/newCompetition') %>
  <% } %>
</div>
<%- include('./partials/cmsFooter') %>