<%- include('./partials/cmsHeader') %>
<div id="cms-competitions" class="container">
  <h2>Poniżej możesz dodać nowe wydarzenie lub edytować już istniejące.</h1>
    <div class="switch">
      <a class="btn <% if (locals.action !== "edit") { %>btn-primary<% } else { %>btn-outline-primary <% } %>  btn-lg" href="/cms/competitions?action=new" role="button">Dodaj nowe wydarzenie</a>
      <a class="btn <% if (locals.action === "edit") { %>btn-primary<% } else { %>btn-outline-primary <% } %> btn-lg" href="/cms/competitions?action=edit" role="button">Edytuj istniejące</a>
    </div>
    <% if (locals.action === "edit") { %>
    <%- include('./partials/editExistingCompetition') %>
    <% } else { %>
    <%- include('./partials/newCompetition') %>
    <% } %>
</div>
<%- include('./partials/cmsFooter') %>