<%- include('./partials/cmsHeader') %>
<div id="panel-switch" class="container">
  <a class="btn btn-outline-light btn-lg d-inline-flex align-items-center justify-content-center" href="/cms/articles" role="button">Zarządzanie artykułami</a>
  <a class="btn btn-outline-light btn-lg d-inline-flex align-items-center justify-content-center" href="/cms/competitions" role="button">Zarządzanie terminarzem zawodów</a>
</div>
<%- include('./partials/cmsFooter') %>