<%- include('./partials/cmsHeader') %>
<div class="container">
  <a class="btn btn-primary" href="/cms/articles" role="button">Zarządzanie artykułami</a>
  <a class="btn btn-primary" href="/cms/competitions" role="button">Zarządzanie terminarzem zawodów</a>
</div>
<%- include('./partials/cmsFooter') %>