#cms-login h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#cms-login .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

#cms-login .login-container .login-form-element {
  display: block;
  text-align: end;
  padding: 5px;
}

#cms-header h1 {
  margin-top: 50px;
  margin-bottom: 25px;
  border-bottom: solid 2px rgb(0, 255, 251);
  padding-bottom: 10px;
  text-align: center;
}

#cms-header .menu {
  text-align: center;
}

#cms-header .menu * {
  margin-bottom: 5px;
}

#panel-switch {
  text-align: center;
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
  padding: 0;
  border-radius: 10px;
}

#panel-switch * {
  flex: 1;
  height: 20vh;
  margin: 40px;
}

.content > .container {
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: rgb(57, 57, 57);
  min-height: 10vh;
}

.switch {
  display: flex;
  padding-bottom: 25px;
  border-bottom: solid 1px grey;
  margin-bottom: 25px;
}

.switch * {
  flex: 1;
  margin: 10px;
}

#cms-articles h2 {
  margin-left: 25px;
  padding-top: 25px;
}

.article-form-label {
  font-size: 20px;
  margin-left: 2.5px;
}

#name,
#images {
  margin-bottom: 30px;
}

.tox-tinymce {
  margin-bottom: 30px;
}

.submit {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

#pagination-container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.paginationjs {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

#staticBackdrop {
  color: black;
}

.cms-article-card {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
  padding: 15px;
  border: solid 1px white;
}

.cms-article-card * {
  margin-left: 10px;
  margin-right: 10px;
}

.cms-article-card:hover {
  background-color: rgb(37, 48, 37);
}
