</main>
<div class="container">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  window.addEventListener("load", function() {
    $('.loader').css('display', 'none');
    $('.content').css('display', 'block');
  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const selectLocation = document.getElementById("select-location");
    const locationInput = document.getElementById("location").closest(".mb-3");

    function toggleLocationInput() {
      if (selectLocation.value === "1") {
        locationInput.style.display = "block";
      } else {
        locationInput.style.display = "none";
      }
    }

    toggleLocationInput();
    selectLocation.addEventListener("change", toggleLocationInput);
  });
</script>
</body>

</html>