<h1>Wypełnij formularz i dodaj NOWE wydarzenie!</h1>
<p>Nazwa wydarzenia - Pole textowe do wpisania</p>
<p>Dyscyplina - checkboxy do zaznaczenia</p>
<p>Miejsce - pole do wpisania + lista predefiniowana</p>
<p>Kategoria - Lista rozwijana</p>
<p>Termin - jakiś gotowy komponent z wyborem daty</p>
<p>Godzina zbiórki - jakiś gotowy komponent z wyborem godziny</p>
<p>Uwagi - textfield</p>