<h1>Wypełnij formularz i dodaj NOWE wydarzenie!</h1>
<p>Nazwa wydarzenia - Pole textowe do wpisania</p>
<div class="mb-3">
  <label for="name" class="form-label">Nazwa wydarzenia</label>
  <input type="text" class="form-control" id="name" placeholder="Wprowadź nazwę zawodów lub innego wydarzenia">
</div>
<p>Dyscyplina - checkboxy do zaznaczenia</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="discipline-feeder">
  <label class="form-check-label" for="discipline-feeder">
    Feeder klasyczny
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="discipline-method-feeder">
  <label class="form-check-label" for="discipline-method-feeder">
    Metoda
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="discipline-float">
  <label class="form-check-label" for="discipline-float">
    Spławik
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="discipline-spinning">
  <label class="form-check-label" for="discipline-spinning">
    Spinning
  </label>
</div>
<p>Miejsce - pole do wpisania + lista predefiniowana</p>

<p>Kategoria - Lista rozwijana</p>
<p>Termin - jakiś gotowy komponent z wyborem daty</p>
<p>Godzina zbiórki - jakiś gotowy komponent z wyborem godziny</p>
<p>Uwagi - textfield</p>